@model ePunkt.SocialConnector.Linkedin.Entities.LinkedinPerson

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div>
        <p>Hello there, @Model.FirstName @Model.LastName.</p>
    </div>
</body>
</html>
