<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div>
        <h1>ePunkt Social Connector Samples</h1>
        <p>@Html.ActionLink("Log in with XING", "Authorize", "Xing")</p>
    </div>
</body>
</html>
